[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
black = "black --target-version py35 -l 79"

[dev-packages]
black = "==19.3b0"
flake8 = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"
